<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container mb-4">
  <div class="card-body">
    <h5 class="card-title text-uppercase mb-0">Free bookings</h5>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Comments</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let unreserved of unReservedBooking; let i = index">
                      <td class="pl-4">{{i + 1}}</td>
                      <td>
                          <h5 class="font-medium mb-0">{{unreserved.name}}</h5>
                      </td>
                      <td>{{unreserved.commentsCount}}</td>
                      <td class="text-right"><a class="btn btn-sm btn-primary" [routerLink]="['/home/bookings/', unreserved.id]"><i class="fa fa-eye"></i></a></td>
                      <td>Free</td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<div class="container mb-4">
  <div class="card-body">
    <h5 class="card-title text-uppercase mb-0">Reserved bookings</h5>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Date Start</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Date End</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let reserved of reservedBookings; let i = index">
                      <td class="pl-4">{{i + 1}}</td>
                      <td>
                          <h5 class="font-medium mb-0">{{reserved.name}}</h5>
                      </td>
                      <td>
                        <span class="text-muted">{{reserved.dateStart | date:'dd.MM.yyyy'}}</span><br>
                      </td>
                      <td>
                        <span class="text-muted">{{reserved.dateEnd | date:'dd.MM.yyyy'}}</span><br>
                      </td>
                      <td class="text-right"><a class="btn btn-sm btn-primary" [routerLink]="['/home/bookings/', reserved.id]"><i class="fa fa-eye"></i></a></td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
