<!-- About section-->
<section style="margin: 5px;">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>What is coworking?</h2>
              <p class="lead">Coworking means sharing, not only to create a better work environment, but also to find greater ways to get things done.</p>
              <p>You will find several definitions online for this concept of coworking space, and all of them revolve around the same central element: sharing, but not only to create a better work environment, but also to find greater ways to get things done.</p>
          </div>
      </div>
  </div>
</section>
<!-- Services section-->
<section class="bg-light">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>What are the advantages of coworking?</h2>
              <p class="lead">Easy! Here you'll find some of the final benefits to convince you on how coworking could be the best choice for your company:</p>
              <h1 class="topic">THE BASIC, SAVE MONEY!</h1>
              <p>Even though it may seem obvious, this saving money goes beyond rent. Choosing a coworking space for your corporate office will erase for good that monthly payment only linked to a fixed space, a space that no matter how big your team grows or how small it becomes, will not have the power to follow your pace. Besides, you can forget about light, water and community expenses as well, even WiFi connection! Not to mention all those extra services available to make your life easier…</p>
              <p>Enjoy flexibility on your contract terms and the most emblematic buildings in the city, all together! Worry about nothing besides choosing which view or sunny corner you prefer for today!</p>
              <h1 class="topic">OUR MANTRA? FLEXIBILITY</h1>
              <p>The pandemic and our new working routine made us become way more flexible, whether we wanted it or not. The issue is, since we are supposed to adapt to changes, that flexibility should also be found in our workspace, in our chance of growth and in our schedules. As a payback, right?</p>
              <p>Coworking allows you to use your space only when and how you need to, to organise your team differently for each project, because free mobility around the space is complete, and also enjoy available meeting and training rooms, workshops, coffee points and much more! Oh, and everything under the umbrella of flexible contracts by month, with no long—stays!</p>
            </div>
      </div>
  </div>
</section>
<app-footer class="footer"></app-footer>
